/*
primaria: #0066b3
secundaria: #87CEEB
terciaria: #40E0D0
branco: #FFFFFF
preto: #000000
sucesso: #28a745
erro/falha: #dc3545
*/
header{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5)
}
#navBar{
    width: 100%;
    height: 80px;
}
#navBar #btnLogin{
    background-color: #87CEEB;
}
#navBar #btnLogin:hover{
    background-color: #0066b3;
    color: #FFFFFF;
    border-radius: 16px;
    transition: 1s;
}
#navBar nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}
#navBar nav ul li a{
    text-decoration: none;
    color: #000000;
    padding: 5px 10px;
}
#navBar nav ul li a:hover{
    text-decoration: none;
    color: #FFFFFF;
    background-color: #0066b3;
    border-radius: 16px;
    transition: 1s;
}
footer{
    background-color: #0066b3;
    color: #FFFFFF;
}
footer h3{
    margin-top: 12px;
}
footer #whats span a, footer #git p a{
    text-decoration: none;
    color: #FFFFFF;
}
/* index.php */
.carousel-item img {
    height: 500px;
    object-fit: cover; /* Faz a imagem cobrir o espaço sem distorcer, cortando o excesso */
    width: 100%;
}
#erro-msg{
    height: 500px;
    width: 100%;
    background-color: #87CEEB;
    border-radius: 16px;
}
/* login.php */
.cointainer-btn{
    display: flex;
    justify-content: center;
    width: 100%;
}
.cointainer-btn #btnLgn{
    width: 55%;
    border: none 0px;
    background-color: #87CEEB;
}
.cointainer-btn #btnLgn:hover{
    border-radius: 16px;
    transition: 1s;
    background-color: #0066b3;
    color: #FFFFFF;
}
.cointainer-btn p a{
    text-decoration: none;
    color: #0066b3;
    font-weight: bold;
}